<!DOCTYPE html>
<html>
	<head>
		<title>A Collection of Two Poems by Emma and Nell</title>
		<meta charset="UTF-8">
		<meta name="author" content="Nell">
		<meta name="description" content="A multi-fandom blog">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
    	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
  		<header = class="clearfix">
	  		<div class="logo">
	  			<h1>The Life of a Fangirl</h1>
	  			<p class="tagline">By Nell, featuring Leah and Emma</p>
	  		</div>
	  		<ul class="menu">
			    <li><a href="../index">The Beginning</a></li>
			    <li><a href="../about">About This Life</a></li>
			    <li><a href="../contact">Contact the Authors or Featurettes</a></li>
			</ul>
		</header>
		<article>
			<h2>A Collection of Two Poems by Emma and Nell</h2>
			<img src="../static/poem3.png" alt="colorblind">
			<img src="../static/poem.png" alt="a response to refrigerator">
			<p>This is what happens when you Snap Emma. Late at night. With Spanish thrown in the mix.
			</p>
			<p>
				<a target="_blank">Source is The Best Friends</a>
			</p>
		</article>
			<p><a href="#top">Back to the Top</a></p>
		<footer>
	    	<p>&copy; 2017 NELLAY_JAE!</p>
	    </footer>
	</body>
</html>
