<!DOCTYPE html>
<html>
	<head>
		<title>A Percy Jackson Musical: The Life of a Fangirl</title>
		<meta charset="UTF-8">
		<meta name="author" content="Nell">
		<meta name="description" content="A multi-fandom blog">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
    	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
  		<header = class="clearfix">
	  		<div class="logo">
	  			<h1>The Life of a Fangirl</h1>
	  			<p class="tagline">By Nell, featuring Leah and Emma</p>
	  		</div>
	  		<ul class="menu">
			    <li><a href="../index">The Beginning</a></li>
			    <li><a href="../about">About This Life</a></li>
			    <li><a href="../contact">Contact the Authors or Featurettes</a></li>
			</ul>
		</header>
		<article>
			<h2>A Percy Jackson Musical?!</h2>
			<img src="../static/pj-musical.jpg" alt="percy jackson musical">
			<p>Attention Leah and fellow fangirls and fanboys. There is going to be a Percy Jackson musical called <em>The Lightning Thief: The Percy Jackson Musical</em> released in 2018 on Broadway and will reach Minneapolis by 2019! Just kidding, I don't actually know. You would know more than I would. In fact, Leah, you listen to the soundtrack more than I listen to K-Pop music these days.</p>
			<p>But I hope you are not going to ask me to buy the soundtrack for you for Christmas. I know it will be the best $18.95 spent. If you ask, maybe. But I will definitely fork over for a fandom t-shirt! You must spread your nerdiness! But on a side note, hopefully this show will be better than the movies. Haha.</p>
			<p>The order of characters talked about by Leah:
				<ol>
					<li>Percy &plus; Annabeth
						<a href="http://shipping.wikia.com/wiki/Percabeth" target="blank_">Percabeth</a></li>
					<li>Leo</li>
					<li>Nico</li>
					<li>Reina</li>
					<li>Frank</li>
				</ol>
			</p>
			<p>
				<a href="http://www.lightningthiefmusical.com/#home" target="_blank">Source</a>
			</p>
		</article>
			<p><a href="#top">Back to the Top</a></p>
		<footer>
	    	<p>&copy; 2017 NELLAY_JAE!</p>
	    </footer>
	</body>
</html>