<!DOCTYPE html>
<html>
	<head>
		<title>More Than A Word on Culture</title>
		<meta charset="UTF-8">
		<meta name="author" content="Nell">
		<meta name="description" content="A multi-fandom blog">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
    	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
  		<header = class="clearfix">
	  		<div class="logo">
	  			<h1>The Life of a Fangirl</h1>
	  			<p class="tagline">By Nell, featuring Leah and Emma</p>
	  		</div>
	  		<ul class="menu">
			    <li><a href="../index">The Beginning</a></li>
			    <li><a href="../about">About This Life</a></li>
			    <li><a href="../contact">Contact the Authors or Featurettes</a></li>
			</ul>
		</header>
		<article class="rant">
			<h2>More Than A Word on Culture</h2>
			<img src="../static/ama.jpg" alt="BTS: AMA Performer 2017">
			<p>As I watch BTS's interviews, I give a slight eye roll at the repetitive question of:
				<blockquote>Are you going to produce an album in English?</blockquote>
			</p>

			<p>One question. WHY (would you ask that)?</p>

			<p>Ok, I understand that listening to your favorite band perform in your own language is the best. feeling. ever. Because you can hear their chocolate-smooth voices singing to your soul. Pero, mis amigos de los Estados Unidos, their main language is Korean. We should respect that. And not ask them to change for us.
			</p>

			<p class="honest">Honestly, being in a fandom is like a hard-core relationship. (That is totally one sided.) But I don't want someone to change who they are. (***This does not include what you do. Strictly who a person is as a human. You know? Like "what makes us human?".)</p>
			<button>Hide all rants for another day.</button>

			<p>Back on topic: I was curious at first to hear RM's answer to the question of English-produced music. He did say that they would have English remixes to some of their songs, not a full album yet. I personally don't think they are ready for that yet just because not all seven members know English very well. (But, Jin, bless your soul for practicing in interviews! That are public. In the USA. If I did that, I would be a stuttering, nervous mess.)</p>

			<p class="honest">But yo, English is hard if it's not your first languange. It's confusing and if you add in all the dialects, slang, and connotations x multiple regions, countries, and continents; it's a crazy, beautiful, frustrating ride. (But I wouldn't know that from experience. What are you talking about. Psh. *laughs awkwardly at the fact English is first language.*)</p>
			<button>Hide all rants for another day.</button>

			<p>Back on topic 2.0: So RM answered the question but lowkey looked either sad, awkward, and/or disappointed in the fans for asking that so much. Respect.</p>

			<p>Now I know there's a whole other side of the arguement: What about their full album in Japanese? Japanese isn't their first language. Why is English such a big deal? To be blunt like I always am: I have no idea. </p>

			<p class="honest">Just kidding, I have one. It's more common to see K-Pop artists who have lots of success in Korea to expand to the Japanese audience. Since it's right next door and the language is related. (In a way. More so than Korean to English.) What BTS did (which was a fantastic idea, thanks BigHit for implementing it) was expand to the global audience, not just one specific country. They translated their lyrics on music videos. Social media has help so much in this way. And even though there are smaller groups of people that like something globally, we have this way of communicating what we love and why and we can talk about these things and fandoms are so nice to each other. (hehe well fanwars happen.)</p>

			<button>Hide all rants for another day.</button>

			<p>Back on topic 2.1: Conclusion: Have questions but don't be repetitive. Don't make other people regret coming to your country because you're rude. Another question in an interview was: <blockquote>Are all Americans nice?</blockquote>
			</p>

			<p><em>HA HA that's cute</em>. To conclude the conclusion: use brain and don't be dumb.</p>

			<p>Wow this got a lot deeper than I thought it would. In the middle moreso. Sorry if you wanted a deep closing thought.</p>

			<p>Side note: I also thought I was going to work on my homework but (hehehe) I got the weekend. But it was so nice to catch up on some music and get the feels running through my veins again. But the part that sickens, angers, aggrivates me: I CAN'T WATCH BTS ON TV ON SUNDAY!!! GRRRRRRRR and procedes to cry all of the tears. I shouldn't make skipping a habit but. . .we'll see. I'm excited for CaL though too. Eh. Whatever. I hate using "salty" as a non-food related adjective but. . .WHATEVER. I'LL BE DONE!</p>

			<p>Peace.</p>

			<p>One last thing. BTS is performing in the American Music Awards on Sunday, November 19 at some unknown time between 7:00 and 9:00 P.M. They're also scheduled for talk shows started days ago with James Corden, Ellen deGeneres, Jimmy Kimmel, etc. Yay!</p>

			<p>Peace.</p>

			<p><em>Important Update!</em> Rehearsals got done early and I got to see them! They were so glorious!</p>

			<p>
				<a href="https://www.theamas.com/2017/11/dear-army-whats-the-411-on-bts-amas-performance/" target="_blank">One Source of Many. (But the main one is my brain.)</a>
			</p>
			<p>
				<iframe width="440" height="315" src="https://www.youtube.com/embed/tNtcYIo6N04">
				</iframe>
			</p>
			<p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d56589633.65074577!2d147.63771301869113!3d30.038087676378698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA!3m2!1d34.0522342!2d-118.24368489999999!4m5!1s0x357ca28b61c565cd%3A0x858aedb4e4ea83eb!2sSeoul%2C+South+Korea!3m2!1d37.566535!2d126.97796919999999!5e0!3m2!1sen!2sus!4v1512414851064" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</p>
		</article>
		<p><a href="#top">Back to the Top</a></p>
		<footer>
	    	<p>&copy; 2017 NELLAY_JAE!</p>
	    </footer>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="../js/javascript.js"></script>
	</body>
</html>