<!DOCTYPE html>
<html>
	<head>
		<title>What is BTS Doing Now: The Life of a Fangirl</title>
		<meta charset="UTF-8">
		<meta name="author" content="Nell">
		<meta name="description" content="A multi-fandom blog">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
    	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
  		<header = class="clearfix">
	  		<div class="logo">
	  			<h1>The Life of a Fangirl</h1>
	  			<p class="tagline">By Nell, featuring Leah and Emma</p>
	  		</div>
	  		<ul class="menu">
			    <li><a href="../index">The Beginning</a></li>
			    <li><a href="../about">About This Life</a></li>
			    <li><a href="../contact">Contact the Authors or Featurettes</a></li>
			</ul>
		</header>
		<article>
			<h2>What is BTS Doing Now?</h2>
			<img src="../static/bts-1.png" alt="bts">
			<p>BTS is currently giving themselves a good name and using their newly-gained international popularity for good. After winning Billboard's Top Social Artist Award in 2017, they have partnered with UNICEF. They hope raise awareness with an anti-violence campaign sharing the same name as their newest album, LOVE MYSELF. </p>
			<p>BitHit Entertainment said 3% of LOVE MYSELF income will go to UNICEF. This makes me want to go buy the album and throwback to trick-or-treating for UNICEF. #ENDViolence</p>
			<p>
				<a href="http://www.billboard.com/articles/columns/k-town/8022101/bts-collaborates-unicef-love-myself-anti-violence-campaign" target="_blank">Source</a>
			</p>
		</article>
		<p><a href="#top">Back to the Top</a></p>
		<footer>
	    	<p>&copy; 2017 NELLAY_JAE!</p>
	    </footer>
	</body>
</html>