<!DOCTYPE html>
<html>
	<head>
		<title>What is K-Pop: The Life of a Fangirl</title>
		<meta charset="UTF-8">
		<meta name="author" content="Nell">
		<meta name="description" content="A multi-fandom blog">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
    	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
  		<header = class="clearfix">
	  		<div class="logo">
	  			<h1>The Life of a Fangirl</h1>
	  			<p class="tagline">By Nell, featuring Leah and Emma</p>
	  		</div>
	  		<ul class="menu">
			    <li><a href="../index">The Beginning</a></li>
			    <li><a href="../about">About This Life</a></li>
			    <li><a href="../contact">Contact the Authors or Featurettes</a></li>
			</ul>
		</header>
		<article>
			<h2>"What is K-Pop?"</h2>
			<img src="../static/explain-kpop.jpg" alt="Explain K-Pop">
			<p>In short terms, the "K" stands for Korean and "Pop" is popular music. But, for heaven's sake, it is so much more than just <em>Gangnam Style</em>! But in longer terms, in Nell's opinion, it is the best music genre out there. K-Pop idols are raised as entertainment triple threats, having not only singing abilities, but dancing and rapping abilities as well. *But obviously not everyone is blessed like the Golden Maknae Jungkook of BTS.* 
			</p>
			<p>Yes, PSY was the first K-Pop idol that made it into A-Pop mainstream. But it still gets annoying when that's all that people know. Yes, it's a funny dance but seriously. If Justin Bieber was from the United States, that would be a pretty good analogy in comparing opinions.</p>
			<p>
				<a href="https://www.urbandictionary.com/define.php?term=kpop" target="_blank">Source</a>
			</p>
		</article>
		<p><a href="#top">Back to the Top</a></p>
		<footer>
	    	<p>&copy; 2017 NELLAY_JAE!</p>
	    </footer>
	</body>
</html>