.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  background-color: #48045e;
  color: #5df1dd;
  text-align: center;
  font-family: 'Satisfy', cursive;
  padding: 7px;
  margin-bottom: 0px;
  line-height: 50px;
  }

p.tagline {
  border: 2px solid #ffffff;
  padding: 7px;
  text-align: center;
  margin-top: 0px;
  line-height: 2em;
  font-family: 'Satisfy', cursive;
  }

body {
  background-color: #5df1dd;
  color: #48045e;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  margin: 20px;
}

.menu {
  text-decoration: none;
  text-align: center;
  padding-left: 0px;
}

.menu li {
	display: block;
	background-color: #f1e897;
	border: 2px solid #f6dd58;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
}

dfn {
  text-decoration: underline;
}

figcaption {
  display: block;
  text-align: center;
  margin: 15px auto;
}

#warning {
  background-color: #f1e897;
  border: 2px solid #f6dd58;
  margin-top: 20px;
  font-style: normal;
  padding: 3px;
}

.recent {
  display: block;
  clear: both;
  margin-top: 50px;
}

.btn {
  background-color: #48045e;
  color: #f1e897;
  border-color: #f6dd58;
}

main {
  margin: 20px 0px 50px 0px;
}

main > article {
  border: 2px solid #f1e897;
  margin: 20px 0px;
  max-width: 396px;
}

main > article a {
  float: left;
  margin: 0px 0px 20px 10px;
}

article h3,p,a {
  padding: 0px 10px;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.button:link {
	background-color: #f1e897;
	color: #3a05f6;
	padding: 3px;
	border-radius: 15%;
}

button {
  background-color: #f1e897;
  color: #48045e;
  padding: 10px;
  border-color: #48045e;
  border-radius: 50%;
}

a:link {
  color: #3a05f6;
}
a:visited {
  color: #48045e;
}
a:hover {
  color: #AE09E7;
}
a:active {
  color: #6E45F1;
}

footer {
  background-color: #48045e;
  color: #f1e897;
  padding: 15px 0px;
  margin: 30px 0px;
  clear: both;
}

/*Contact*/
form {
	padding: 0px 30px;
}

textarea, input, submit, button{
  font-family: 'Poppins', sans-serif;
}

/*article*/
.rant {
  font-family: 'Cardo', serif;
}

@media screen and (min-width: 768px) {
  .menu li {
    display: inline-block;
    margin: 10px 5px;
  }

  main > article {
    width: calc(50% - 44px);
    float: left;
    margin: 10px 20px 20px 20px;
  }
}

@media screen and (min-width: 1400px) {

  .logo {
    float: left;
    width: 33.333%;
    display: inline-block;
    padding-bottom: 30px;
  }

  .menu {
    float: right;
  }

  .menu li {
    display: inline-block;
    margin: 10px 10px;

  }

  .intro, h2 {
    clear: both;
  }

  main > article {
    width: calc(33.33% - 44px);
    max-width: 396px;
    float: left;
    margin: 10px 20px 20px 20px;
  }
}
