<!DOCTYPE html>
<html>
	<head>
 		<title>About: The Life of a Fangirl</title>
 		<meta charset="UTF-8">
		<meta name="author" content="Nell">
		<meta name="description" content="A multi-fandom blog">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
    	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<header = class="clearfix">
	  		<div class="logo">
	  			<h1>The Life of a Fangirl</h1>
	  			<p class="tagline">By Nell, featuring Leah and Emma</p>
	  		</div>
		    <ul class="menu">
		        <li><a href="/">The Beginning</a></li>
		        <li><a href="about">This Is Where You Are</a></li>
		        <li><a href="contact">Contact the Authors or Featurettes</a></li>
		    </ul>
		</header>
	    <h2>About This Life</h2>
	    <h3>Nell: The Author</h3>
	    <img src="static/nell1.jpg" alt="Nell">
	    <p>Nell is a cross between the silent fan and the no-money-for-merch fan. She is silent because she has no time to catch up with new music. But when she does, she get very excited. Ask her about K-Pop and she will get excited.</p>
	    <ul>
	    	<li><a href="http://instagram.com/cheezcake50" target="_blank">Instagram</a></li>
	    	<li><a href="mailto:himlne01@luther.edu" target="_blank">Email</a></li>
	    </ul>
	    <h3>Leah: The Little Sister and Meme-Provider</h3>
	    <img src="static/leah1.jpg" alt="Leah">
	    <p>Leah is a cross between a shipper and a roleplayer. She will outread anyone on this planet and the one next door. She was influenced by her jiejie but soon after that the tables were turned. Ask her about book fandoms. But warning: she will go on about the underrepresented Hufflepuff House.</p>
	    <ul>
	    	<li><a href="http://instagram.com/cheezcake51" target="_blank">Instagram</a></li>
	    	<li><a href="mailto:volkem03@luther.edu" target="_blank">Email</a></li>
	    </ul>
	    <h3>Emma: The Bestest-Friend-Ever</h3>
	    <img src="static/emma1.jpg" alt="Emma">
	    <p>Emma is the screen-lover. Her random statements are glorious. Her poems will brighten your day *although occasionally bring confusion.* Ask her about TV and movies. She is currently loving <em>Stranger Things 2</em> but nothing beats <em>Spongebob</em>. You could ask her about her training, too.</p>
	    <ul>
	    	<li><a href="http://instagram.com/cheezcake52" target="_blank">Instagram</a></li>
	    	<li><a href="mailto:himlle01@luther.edu" target="_blank">Email</a></li>
	    </ul>
	    <footer>
	    	<p>&copy; 2017 NELLAY_JAE!</p>
	    </footer>
	</body>
</html>
