<!DOCTYPE html>
<html>
	<head>
		<title>The Life of a Fangirl</title>
		<meta charset="UTF-8">
		<meta name="author" content="Nell">
		<meta name="description" content="A multi-fandom blog">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
    	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
				<header>
	  		<h1>The Life of a Fangirl</h1>
	  		<p class="header tagline">By Nell, featuring Leah and Emma</p>
	  		<ul class="menu">
			    <li><a href="/">This Is Where You Are</a></li>
			    <li><a href="/about">About This Life</a></li>
					<li><a href="/contact">Contact the Authors or Featurettes</a></li>
			</ul>
		</header>
		<div class="intro">
			<h2>The Beginning</h2>
			<p><dfn>Fangirling</dfn>: when smiling like a fool, laughing hysterically, shortness of breath, fainting, highpitched noises, shaking, fierce head shaking, hyperventilation, endless blogspots, sleeping late at night, etc. occurs as a reaction to the sight or existence of the object of affection and/or obsession.</p>
			<p><dfn>Fanboy</dfn>: a passionate fan of various elements of geek culture or any culture.</p>
			<p>I should probably just warn you about the dangers ahead of you. The sarcasm will hit you. The feeling of dread and sorrow will possess your soul when you do not understand a reference. And then there are the <strong>rants</strong>.</p>
			<figure>
				<img src="static/stop.jpg" alt="stop">
				<figcaption><em id="warning">You have been warned!</em></figcaption>
			</figure>
		</div>

		<div class="recent">
			<h2>Recent Posts</h2>
			<div id="filter">
				<button class="active btn" id="tripleThreat">The Triple Threat</button>
				<button class="btn" id="nell">Nell</button>
				<button class="btn" id="leah">Leah</button>
				<button class="btn" id="emma">Emma</button>
			</div>
		</div>

		<main>
			<article class="clearfix">
				<img src="static/ama.jpg" alt="BTS: AMA Performer 2017">
				<p><time datetime="2017-11-17 22:47:25.456">17-11-17</time></p>
				<h3>A Word on Culture</h3>
				<p>Here Nell goes on a rant because eye rolls are happening in the 202 Lab right now.</p>
				<a class="button clearfix" href="/more-than-a-word-on-culture">Read More</a>
			</article>
			<article class="clearfix">
				<img src="static/bts-1.png" alt="bts">
				<p><time datetime="2017-11-02 09:45:45.456">17-11-02</time></p>
				<h3>What is BTS Doing Now?</h3>
				<p>So they have come away with Billboard's Top Social Artist Award. What is BTS doing with their new fame?</p>
				<a class="button clearfix" href="/what-is-bts-doing-now">Read More</a>
			</article>
			<article class="clearfix">
				<img src="static/pj-musical.jpg" alt="percy jackson musical">
				<p><time datetime="2017-11-02 20:30:30.456">17-11-02</time></p>
				<h3>A Percy Jackson Musical?!</h3>
				<p>"How much sarcasm can we cram into a musical?" thought Rick Riordan, the director, the cast, and every fangirl and fanboy alive.</p>
				<a class="button clearfix" href="/a-percy-jackson-musical">Read More</a>
			</article>
			<article class="clearfix">
				<img src="static/explain-kpop.jpg" alt="Explain K-Pop">
				<p><time datetime="2017-11-01 16:30:25.456">17-11-01</time></p>
				<h3>"What is K-Pop?"</h3>
				<p>An often-asked question. In short terms, the "K" stands for Korean and "Pop" is popular music. But, for heaven's sake, it is so much more than just <em>Gangnam Style</em>!</p>
				<a class="button clearfix" href="/what-is-k-pop">Read More</a>
			</article>
		</main>

		<footer class="clearfix">
	    	<p>&copy; 2017 NELLAY_JAE!</p>
	  </footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="static/javascript.js"></script>
	</body>
</html>
